* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #edf0f0;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-view, .login-view {
    padding: 20px;
}
#career{
    float: left; /* Aligns the image to the left */
    margin-right: 300px; /* Adds some space on the right side of the image */
    margin-bottom: 100px; /* Adds space at the bottom */
}




.course:last-child {
    border-bottom: none;
}

.login-view {
    width: 600px;
    background-color: white;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-shadow: 3px 3px 5px rgba(27, 11, 11, 0.493);
   
    
}

.login-view h1 {
    .career {
        color: #041b1e; /* Light blue color */
        
    }
    .will {
        color: #E04336; /* Red color */
        
    }
    .app {
        color: black; /* Black color */
        position: relative;
        margin-left: 15px;
        
    }
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0c8fac;
    border-radius: 15px;
}

.login-form button {
    background-color: #26838A; /* The teal color from the image */
            color: white; /* White text */
            padding: 10px 30px; /* Padding to make it larger */
            font-size: 18px; /* Font size */
            border: none; /* No border */
            border-radius: 15px; /* Rounded corners */
            text-align: center;
            cursor: pointer;
            display: inline-block;
            width: 100%; /* Full width */
        }

        .login-button:hover {
            background-color: #1E6D72; /* Darker teal on hover */
        }


.login-form button:hover {
    background-color: #00b81f;
}

.get-app {
    .career {
        color: #5EA8B0; /* Light blue color */
        text-shadow: 0px 0px 10px cyan,
                     0px 0px 20px cyan,
                     0px 0px 40px cyan,
                     0px 0px 80px cyan;
    }
    .will {
        color: #E04336; /* Red color */
        text-shadow: 0px 0px 10px cyan,
                     0px 0px 20px cyan,
                     0px 0px 40px cyan,
                     0px 0px 80px cyan;
    }
    .app {
        color: black; /* Black color */
        text-shadow: 0px 0px 10px cyan,
                     0px 0px 20px cyan,
                     0px 0px 40px cyan,
                     0px 0px 80px cyan;
        
    }
    text-align: center;
    margin-top: 20px;
}
.down p {
    text-align: center;
    margin-top: 20px;

}
.get-app p {
    font-weight: bold;
    color: #555;
}

.app-buttons img {
    width: 50px;
    margin: 10px;
}
.app-buttons1 img {
    width: 70px;
    margin: 10px;
}

.signature {
    font-family: 'Great Vibes', cursive; /* Handwriting font */
    font-size: 36px; /* Adjust the size of the signature */
    color: #000000; /* Color of the signature */
    text-align: center; /* Align to the right if needed */
    margin-top: 2px; /* Add space above the signature */
    padding-right: 20px; /* Optional padding to the right */
    margin-bottom: 2%;

}